<a href="https://colab.research.google.com/github/datascience-1100/Functions-in-Python/blob/main/Functions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Definitions of Functions in Python

In [ ]:
def function_name(parameters):
  '''Write about the program'''
   perform some operations
   return

a= function_name(arguments)

In [ ]:
def addition(x, y):
 '''This function is to add two numbers'''
 return x + y
a=addition(2,3)
print(a)

In [ ]:
print()
append()
capitalize()
upper()

In [ ]:
#User Defined vs /Built in Function
#Visualize

In [ ]:
#Docstring
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
#Parameter vs Arguments
#Parameter- while writing the function
#Arguments- while calling the function

#Types of Arguments
1. Default Arguments
2. Positional Arguments
3. Keyword Arguments

In [ ]:
#Default Arguments
def add(x=1, y=1):
 '''This function is to add two numbers'''
 return x + y
a=add(2)
print(a)

3

In [ ]:
#Positonal Arguments
def add(x, y, z):
 '''This function is to add two numbers'''
 return x + y +z
a=add(2, 3, 5)
print(a)

In [ ]:
#Keyword Arguments
def add(x, y,z):
 '''This function is to add two numbers'''
 return x + y+z
a=add(y=3,z=5, x=2)
print(a)

NameError: name 'x' is not defined

In [ ]:
def full_name(first= 'Mike', sur= 'Fernandes'):
    first_name=first.capitalize()
    sur_name=sur.capitalize()
    return first_name +' '+sur_name

name= full_name()
print(name)

In [ ]:
#Non default argument follows default arguments
def full_name(first= 'Mike', sur):
    first_name=first.capitalize()
    sur_name=sur.capitalize()
    return first_name +' '+sur_name


name= full_name(first='John', sur='Fernandes')
print(name)

SyntaxError: non-default argument follows default argument (<ipython-input-6-4430c9ad7a12>, line 2)

In [ ]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    else:
        return x / y

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

while True:
    choice = input("Enter choice (1/2/3/4): ")

    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", add(num1, num2))
        elif choice == '2':
            print("Result:", subtract(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))
        break
    else:
        print("Invalid input")
        break

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 3
Enter first number: 20
Enter second number: 3
Result: 60.0

In [ ]:
#Functions- a data type

In [ ]:
def addition(x, y):
 '''This function is to add two numbers'''
 return x + y
a=addition(2,3)
print(a)

5

In [ ]:
#Assign
s=addition
print(s)
type(s)
a=s(2,3)
print(a)

NameError: name 'addition' is not defined

In [ ]:
del addition
a=s(2,3)
print(a)

NameError: name 'addition' is not defined

In [ ]:
#Access a function
L=[1,2,3,4,5,addition]
a=L[-1](3,4)
print(a)

7

In [20]:
#Function as an input to another function
def add(a, b):
    return a + b

def multiply(a, b):
    return a * b

def divide (a,b):
     return a/b

def apply_operation(func, x, y):
    return func(x, y)

result1 = apply_operation(divide, 6, 4)
print(result1)

1.5

In [ ]:
#Returning a function
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

add_5 = outer_function(5)
result = add_5(3)

print(result)

In [22]:
def do_something():
    print("This function doesn't return anything.")
    return 6


result = do_something()
print(result)

This function doesn't return anything.
6

In [ ]:
#Nested function
def outer_function():
    print("Hello, this is the outer function!")


    def inner_function():
        print("Hello, i m inside")

    inner_function()

outer_function()

In [ ]:
#Returning a function
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

add_5 = outer_function(5)
result = add_5(3)

print(result)

In [23]:
#Lambda Function
add_numbers = lambda x, y: x + y

result = add_numbers(3, 5)
print(result)

8

In [25]:
even=lambda x: x%2==0
result=even(4)
print(result)

True

In [26]:
def create_adder(n):
    return lambda x: x + n

add_5 = create_adder(5)
result = add_5(7)
print(result)

12

In [27]:
#*args and **kwargs
def sum_numbers(*coco):
    total = 0
    for num in coco:
        total += num
    return total

result = sum_numbers(1, 2, 3, 4, 5,6,7)
print(result)

28

In [28]:
def print_dict_items(**kwc):
    for key, value in kwc.items():
        print(f"Key: {key}, Value: {value}")

# Passing a dictionary to the function using **kwargs
data = {'a': 1, 'b': 2, 'c': 3}
print_dict_items(**data)

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

In [ ]:
Scope of a Function